
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">FangZhou</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> 
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/members" class="nav-link">Members</a></li>
        <li class="nav-item"><a href="/contracts" class="nav-link">Contracts</a></li>
        <li class="nav-item"><a href="/posts" class="nav-link">Board</a></li>
        <li class="nav-item"><a href="/contacts" class="nav-link">Users</a></li>
        <li class="nav-item"><a href="/rooms" class="nav-link">Rooms</a></li>
        <li class="nav-item"><a href="/restaurant" class="nav-link">Restaurant</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <% if(isAuthenticated){ %>
        <li class="nav-item"><a href="/users/<% currentUser.username %>" class="nav-link">My</a></li>
        <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
        <% } else { %>
        <li class="nav-item"><a href="/users/new" class="nav-link">Sign Up</a></li>
        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<!--         <div class="language-switcher">
          <ul class="nav-lang">
            <li><a class="active" href="#">EN</a></li>
            <li><a href="#">DE</a></li>
            <li><a href="#">FR</a></li>
          </ul>
        </div>  -->