<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ("./partials/head") %>
  </head>
  <body>

    <% include ("./partials/nav") %>
    <!-- END nav -->

    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url(images/bg_1.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-12 ftco-animate text-center">
          	<div class="text mb-5 pb-3">
	            <h1 class="mb-3">Now go out where it is deeper</h1>
	            <h2>Nuke 5: 4-6</h2>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>

    <section class="ftco-booking">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-12">
    				<form action="#" class="booking-form">
	        		<div class="row">
	        			<div class="col-md-3 d-flex">
	        				<div class="form-group p-4 align-self-stretch d-flex align-items-end">
	        					<div class="wrap">
				    				<label for="#">Check-in Date</label>
				    				<input type="" class="form-control" placeholder="Check-in date">
			    				</div>
			    			</div>
	        			</div>
	        			<div class="col-md-3 d-flex">
	        				<div class="form-group p-4 align-self-stretch d-flex align-items-end">
	        					<div class="wrap">
				    					<label for="#">Check-out Date</label>
				    					<input type="" class="form-control " placeholder="Check-out date">
			    				</div>
			    				</div>
	        			</div>
	        			<div class="col-md d-flex">
	        				<div class="form-group p-4 align-self-stretch d-flex align-items-end">
	        					<div class="wrap">
			      					<label for="#">Room</label>
			      					<div class="form-field">
			        					<div class="select-wrap">
			                    <select name="" id="" class="form-control">
			                    	<option value="">Suite</option>
			                    </select>
			                  </div>
				              </div>
				            </div>
		              </div>
	        			</div>
	        			<div class="col-md d-flex">
	        				<div class="form-group p-4 align-self-stretch d-flex align-items-end">
	        					<div class="wrap">
			      				<label for="#">Customer</label>
			      				<div class="form-field">
			        					<div class="select-wrap">
			                    		<select name="" id="" class="form-control">
			                    		<option value="">1 Adult</option>
			                    		</select>
			                  	</div>
				              	</div>
				            </div>
		              </div>
	        			</div>
	        		</div>
	        	</form>
	    		</div>
    		</div>
    	</div>
    </section>

<% include ("./partials/end") %>
  </body>
</html>